section{
  padding: 50px;
  text-align: center;
  background-color: #000000

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
